<div class="row hidden-xs">
	<div class="col-sm-offset-3 col-sm-1 text-right">
		<%= image_tag("dotted-vert.png")%>
	</div>
	<div class="col-sm-offset-1 col-sm-3 text-left">
		<%= image_tag("dotted-vert.png")%>
	</div>
</div>			
