<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>ePickOne é um site que oferece aos seus usuários a oportunidade de possuírem produtos de grandes marcas, como bolsas, notebooks, e etc. Essas oportunidades serão oferecidas através de eventos, e em cada evento uma pessoa será premiada com algum produto pré-definido.</p>

</p>A empresa ePickOne iniciou suas operações no Brasil em 2013, e com a parceria de grandes lojas, ela consegue garantir a entrega de seu produto em qualquer cidade do território brasileiro.</p>
