<% provide(:title, 'Quem Somos') %>
<h1>Quem Somos</h1>

<p>
	Com as operações iniciadas no Brasil em 2013, ePick One já premiou diversas pessoas e promoveu inúmeros produtos.
</p>

<p>
	ePick One é uma empresa desenvolvida, gerenciada e financiada pela equipe da Keep Invest Capital. 
</p>

<h2>O que fazemos?</h2>
<p>
Nós oferecemos a oportunidade de ganhar ótimos prêmios através de eventos promovidos por empresas que desejam comunicar algo ao mercado.
</p>
 
 
