<% provide(:title, 'Quem Somos') %>
<h1>Quem Somos</h1>

<p>
Com as operações iniciadas por todo o Brasil em 2013, ePick One já premiou centenas de pessoas, e consequentemente já ajudou a arrecadar fundos para centenas de entidades carentes.
</p>

<p>
E não só isso, milhares de pessoas com orgulho por ter colaborado nessas arrecadações.
</p>

<p>
ePick One é uma empresa gerenciada e financiada pelo fundo Keep Invest Ventures Capital. 
</p>

<h2>O que fazemos?</h2>
<p>
Nós oferecemos a oportunidade para as pessoas ganharem ótimos prêmios através de eventos sociais e promocionais com objetivo de arrecadar fundos para entidades carentes, ou de eventos publicitários, onde em troca, vocês nos permitem apresentar sobre as empresas e ofertas de produtos e serviços.
</p>
 
 
