<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<address>
  <strong>ePick One Ltda.</strong><br>
  Av. Broadway, 10 - 1º andar<br>
  Centro - São Paulo - SP - CEP: 00001-100<br>
  Fone: (11) 3223-xxxx<br>
  <a href="mailto:hellot@epickone.com">hello@epickone.com</a><br>
</address>        

</p>