<div class="center hero-unit">
  <h1>Welcome to the Pk One</h1>
  <h2>
    Win prizes
    <a href="http://railstutorial.org/">at Pk One</a> right now.
  </h2>
  <h3>Sign Up</h3>
  <br>
  <%= render 'users/form_new' %>
</div>
