<div class="center hero-unit">
  <h1>Welcome to the Pk One</h1>
  <h2>
    Win prizes
    <a href="http://railstutorial.org/">at Pk One</a> right now.
  </h2>
  <div>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
  </div>
</div>

  <div class="center draws">
    <% if @draws.any? %>
      <table>    
      <%= render @draws %>
      </table>
      <%= will_paginate @draws %>
    <% end %>
  </div>  

