<h1>Como funciona</h1>
<p>Para participar é muito fácil, basta você possuir um número válido de celular e se cadastrar para poder adquirir tickets. Mas atenção, para você validar seu ticket é preciso numerá-lo. Se seu ticket não estiver numerado, ele não valerá e a sua chance será desperdiçada.</p>

<p>Caso você seja o vencedor do evento, nós entraremos em contato através do número de celular fornecido. Por isso, forneça um número válido de celular e fique atento.</p>

<h2>Tipos de eventos</h2>
<p>Os eventos se dividem em duas categorias:</p>

<p>Promocional, em que os usuários receberão tickets gratuitamente após responder corretamente todas as perguntas de um questionário / quiz sobre algum breafing que será mostrado. Normalmente, este breafing será patrocinado por alguma empresa que deseja informar algo ao mercado.</p>

<p>E os Pagos, o qual os usuários precisarão comprar tickets para participar do evento. Estes eventos terão o número de participantes limitados de forma que as chances de ganhar o prêmio seja pré-determinado.</p>

<p>Todos os eventos terão as datas de encerramentos em algum dia em que há um sorteio da mega-sena da loteria federal brasileira. E o resultado será baseado na soma desses 6 números sorteados. O objetivo é acertar o número dessa soma. Caso sejam sorteados os números: 10, 20, 30, 40, 50, 60, vence quem acertar a soma desses números que é 210.</p>

<p>Entretanto, só pode haver um vencedor, e sempre terá que ter um vencedor. Para isso, caso este número seja escolhido por mais de uma pessoa, ou não seja escolhido por ninguém, vale o menor número mais perto desta soma em que foi escolhido por apenas 1 pessoa.</p>
