<% provide(:title, 'Mensagem') %>

<div class="row" style="width:300px;">
	<div class="col-lg-12">
		<%= session[:msgbox]%>
		<% session[:msgbox] = nil %>
		
		<%= params[:msgbox]%>
		<div class="row">
	  	<div class="col-lg-12 text-center">
				<br>
				<a href="javascript:void(0)" onclick="parent.$.fancybox.close();" class ="btn btn-black btn-large btn-primary">OK</a>
			</div>
		</div>
	</div>
</div>