
<div class="row">
  	<div class="span12">
	<h1>Termo de uso</h1>
		Pelo presente a Rádio e Televisão Record S/A., inscrita no C.N.P.J.-M.F. sob o no 60.628.369/0001-75, com sede na Rua da Várzea, no 240, com CEP no 01.140-080, Barra Funda, São Paulo, Capital, e com filial inscrita no C.N.P.J.-M.F. sob o no 60.628.369/0006-80, estabelecida na Alameda Ministro Rocha de Azevedo, 395 – 7º andar, Cerqueira Cesar, São Paulo, Capital, doravante denominada Record, regulamenta o “Concurso Cultural – Concorra a um vale compra de R$ 300,00 do R7 Moda” através deste Termo Específico, conforme as disposições que seguem:
		<br>
<br>
		1 – OBJETO
		<br>

		Trata-se de concurso exclusivamente cultural e recreativo, desprovido de qualquer tipo de álea ou propaganda, cuja participação não está vinculada a qualquer pagamento, nem uso ou aquisição de bem, serviço ou direito, em conformidade com o art. 3º, II da Lei nº 5.768/71 e art. 30 do Dec. nº 70.951/72, ora realizado pela RÁDIO E TELEVISÃO RECORD S.A cujo presente regulamento encontra-se no site www.r7.com. Este concurso cultural é aberto a toda pessoa física, maior de dezoito anos de idade, residente no território nacional, com exceção daquelas infra mencionadas no item 7.2.
		<br>
		<br>

		2 – PRAZO
		<br>

		O presente concurso terá início no dia 18 de abril de 2013 e terminará no dia 20 de maio de 2013.
		<br>
		<br>

		3 – DA DINÂMICA DE FUNCIONAMENTO
		<br>

		3.1. Para participar, o Participante deverá elaborar uma frase, com até 500 (quinhentos) caracteres, respondendo à pergunta: “Qual peça não pode faltar no guarda-roupa de uma mulher? Por quê?” e enviá-la por meio do site www.r7.com, no local apropriado.
		<br>
		<br>

		3.1.1. Para que seja possível contatar o vencedor e conferir sua identidade quando da entrega do Prêmio é necessário que o Participante conceda alguns dados pessoais tais como: nome, idade, RG, CPF, data de nascimento, endereço e telefone no momento da inscrição.

		<br>
		<br>
		4 – DOS CRITÉRIOS DE SELEÇÃO
		<br>

		A votação e seleção da melhor frase serão feitas através de uma comissão julgadora de profissionais do R7, cujos parâmetros para a escolha serão: criatividade, pertinência quanto ao tema proposto e originalidade. Será eleita 01 (uma) frase vencedora.

		<br>
		<br>
		4.1. Quaisquer inobservâncias dos termos avençados neste regulamento levarão à direta desclassificação. Também serão desclassificadas as frases que possuírem conotação obscena ou conteúdo inadequado às políticas e condutas corporativas da Record.

		<br>
		<br>
		4.2. As decisões dos jurados serão finais e não caberá contra estas qualquer tipo de impugnação.

		<br>
		<br>
		5 – PREMIAÇÃO
		<br>

		O vencedor será contemplado com 01 (um) vale-compras no valor de R$ 300,00 (trezentos reais) para ser utilizado no R7 Moda/Passarela (r7.com/moda).

		5.1. O autor da melhor frase será contatado por telefone ou e-mail entre as datas 20/05/2013 e 21/05/2013. O resultado do presente concurso cultural, com a divulgação do nome do vencedor também será disponibilizado no site www.r7.com.

		5.1.1. Caso a Record não obtenha sucesso nos contatos por telefone e e-mail na data do dia da disponibilização do resultado com o vencedor, este será desclassificado e então levará o prêmio o autor da segunda melhor frase, e assim por diante, até que haja por fim um contemplado.

		5.1.2. O vencedor que residir na região da Grande São Paulo deverá retirar o prêmio na Record (Rua da Várzea, 240, Barra Funda, São Paulo, SP) de segunda-feira à sexta-feira, das 10h às 16h, exceto às quartas-feiras e feriados. A retirada do prêmio deverá ocorrer num prazo máximo de 07 (sete) dias úteis, a contar do envio do e-mail ou contato telefônico realizado pela produção do R7.

		5.1.3. Caso o vencedor não compareça para retirar o prêmio na Record na data e horário estipulados, por qualquer que seja o motivo, perderá o direito ao mesmo. 

		5.1.4. No caso do vencedor residir em outra cidade, a Record enviará pelo correio no endereço indicado pelo vencedor no formulário de participação do concurso, sendo certo que a Record não se responsabilizará no caso de não recebimento do prêmio por informações prestadas de forma errada ou insuficiente. O envio pelo correio deverá ocorrer num prazo máximo de 15 (quinze) dias úteis, a contar do envio do e-mail ou contato telefônico realizado pela produção do R7.

		5.2. Para que o prêmio possa ser retirado na Record o vencedor deverá estar munido com seus documentos pessoais originais e deverá assinar um termo de quitação. Já no caso do vencedor que reside fora da região da Grande São Paulo, o aviso de recebimento dos correios, devidamente assinado pelo receptor, servirá como termo de quitação, surtindo os mesmos efeitos.

		5.3. Em hipótese alguma o prêmio poderá ser convertido em dinheiro ou qualquer outro título ou trocado por outro bem.

		5.4. O Participante tem pleno e total conhecimento de que o prêmio se limita tão somente ao mencionado no caput do item 5 e é de responsabilidade integral da empresa PASSARELA MODAS LTDA. Todos os eventuais custos, incluindo sem restringir eventual frete ou ainda qualquer outra despesa, correrão por conta exclusiva do Participante.

		5.5. O Participante concorda em seguir estritamente todos os termos, condições e orientações estipuladas pela empresa PASSARELA MODAS LTDA disponíveis no endereço r7.com/moda.

		5.6. O Vencedor deverá observar e respeitar todas as condições e restrições exigidas para a troca do vale-compras mencionado no caput do item 5, prestadas pela PASSARELA MODAS LTDA. e ainda constantes no endereço r7.com/moda.

		5.6.1. O Vencedor terá o prazo máximo de 30 (trinta) dias corridos, a contar a partir do dia do recebimento do prêmio pelo Vencedor (ou da data da retirada do prêmio no caso do item 5.1.2 ou da data de assinatura do aviso de recebimento dos correios no caso do item 5.1.4), para a troca e utilização do vale-compras mencionado no caput do item 5, ficando certo que ultrapassado respectivo prazo o mesmo perderá o seu direito.

		5.7. A Record não se responsabiliza por qualquer tipo de falhas quanto à utilização do prêmio assim como no cumprimento do prazo de recebimento dos produtos adquiridos pela troca do vale-compras, por eventuais cancelamentos ou trocas e devoluções, por qualquer que seja o motivo, estando ciente o Participante que o pagamento do prêmio é de responsabilidade única e exclusiva da empresa PASSARELA MODAS LTDA. Além das condições e restrições a serem observadas e respeitadas pelo Participante, o mesmo terá mais informações através da Central de Relacionamento pelo site http://moda.r7.com/r7/conteudoFixo/centralRelacionamento-R7.jsp

		6 - DAS AUTORIZAÇÕES E GARANTIAS DO PARTICIPANTE:

		6.1. Reconhece que é condição essencial para este concurso que a frase seja de sua própria autoria e que não esteja de maneira alguma violando quaisquer direitos de terceiros ou a legislação brasileira e se porventura violar, exime a Record de qualquer responsabilidade pelos danos e prejuízos causados.

		6.2. Autoriza de forma irrevogável e irretratável a Record, a seu critério e independentemente de comunicação, a utilizar e reutilizar sem limites de vezes as frases dos participantes, seja dentro ou fora do território brasileiro, inclusive, mas sem limitar, nos programas de televisão ou de rádio, bem como em outras mídias nas quais a Record tenha interesse.

		6.3. Cede à Record, de maneira gratuita, todos os direitos autorais sobre as frases enviadas. A transmissão de direitos ora pactuados é celebrada a título universal e em caráter total, exclusivo, definitivo, irrevogável e irretratável, podendo a Record explorar economicamente as frases sob qualquer forma, e utilizá-las como melhor lhe aprouver, inclusive, sem limitar para:

		(a) inserção na programação da Record;

		(b) produção de material promocional em qualquer tipo de mídia,

		(c) qualquer outro fim que julgue necessário para si ou para consecução do objeto social descrito em contrato social de qualquer empresa que venha a adquirir os direitos previstos no presente, e

		(d) atualizar ou alterar seu conteúdo.

		7 - DISPOSIÇÕES GERAIS

		7.1. A Record não poderá ser responsabilizada por quaisquer falhas ou impossibilidades técnicas que, inclusive, mas sem limitar, cause a indisponibilidade do sistema ou de acesso ao site, ou apresente qualquer ocorrência durante a participação do Participante.

		7.2. A Record não poderá ser responsabilizada por eventuais danos de qualquer natureza decorrente da utilização dos produtos objeto do prêmio. A Record recomenda ao vencedor e/ou usuários do produto que leiam atentamente todas as instruções da fabricante antes da utilização, e se for no caso necessário, que suspenda o uso do produto e procure orientação médica.

		7.3. Não serão permitidas as participações de funcionários e diretores ou gerentes estatutários tanto da Record e suas empresas coligadas, empresas parceiras, controladas ou controladoras direta ou indiretamente, e os cônjuges e parentes daquelas pessoas acima mencionadas até segundo grau.

		7.4. Todos os casos omissos no presente regulamento serão resolvidos diretamente pela comissão julgadora da Record, cujas decisões serão soberanas e irrecorríveis.

		7.5. A simples participação neste concurso, já implicará no total conhecimento e aceitação do presente Regulamento, de suas condições e demais implicações, ficando reservado o direito a Record de alteração, a qualquer tempo, dos termos, condições e regras do presente regulamento.

		7.6. Foro: Para composição de eventuais litígios, decorrentes do presente, a Record e o Participante elegem o foro da Comarca da Capital de São Paulo – SP, com renúncia a qualquer outro, por mais privilegiado que seja ou venha a ser.

	</div>
</div>


