<h1>Esqueceu a senha?</h1>

<p>
  Você solicitou para cadastrar uma nova senha para sua conta. Caso você não tenha feito esta solicitação, simplesmente ignores este email.
</p>
<p>
  Mas se você realmente fez esta solicitação, clique no link abaixo.
</p>

<%= link_to "Cadastrar nova senha", @url %>