  <!DOCTYPE html>
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
      <h1>Seja bem vindo ao ePick One, <%= @user.first_name %></h1>
      <p>
				Seu usuário é: <%= @user.email %>
      </p>
      <p>
				Sua senha é: <%= @user.password %>
      </p>
      <p>
        Entre no site através deste endereço: <%= @url %>.
      </p>
      <p>
				E não se esqueça de validar seu número de celular também.
      </p>
    </body>
  </html>