<div class="row">

    <table style="width:100%" border="1">
      <tr>
        <td>
          <b>Date</b>
        </td>
        <td>
          <b>Draw</b>
        </td>
        <td>
          <b>Value</b>
        </td>
        <td>
          <b>Comment</b>
        </td>
      </tr>
  <%
  credits = @user.credits.find(:all, :joins => :draw, :conditions => "credit_type= 'free'", :order => "created_at desc")
  
  credits.each do |c|     
  %>
  <tr>
    <td>
      <%=c.created_at.strftime("%Y-%m-%d %H:%M")  %>
    </td>
    <td>
      <%=c.draw.title %>
    </td>
    <td>
      <%=c.value.to_i.to_s%>
    </td>
    <td>
      <% if c.comment == "answered" %>
        You have won 1 credit to join this game!
      <% elsif c.comment == "facebook_shared_draw" %>
        You have shared this draw on facebook
      <% end%>
    </td>
  </tr>
  <%
  end
  %>  
  </table>
  
</div>
