<div class="row">
    <table style="width:100%" border="1">
      <tr>
        <td>
          <b>Draw</b>
        </td>
        <td>
          <b>Value</b>
        </td>
        <td>
          <b>Comment</b>
        </td>
      </tr>
  <%
  credits = @user.credits.find(:all, :joins => :draw, :conditions => "credit_type= 'free'", :select => "title, sum(value) as value, comment", :group => "draw_id, title, comment")
  
  credits.each do |c|     
    if c.value > 0
  %>
  <tr>
    <td colspan="1">
      <%=c.title %>
    </td>
    <td colspan="1">
      <%=c.value.to_i.to_s%>
    </td>
    <td colspan="1">
      <% if c.comment == "answered" %>
        You have won 1 credit to join this game!
      <% elsif c.comment == "facebook_share_draw" %>
        You have shared this draw on facebook
      <% end%>
    </td>
  </tr>
  <%
    end 
  end
  %>  
  </table>
  </div>


