<% if @tickets_new.count > 0  %>
	<h1>Novos Tickets</h1>
	<%= render 'users/new_tickets' %>  
<% end %>
<h1>Você está concorrendo em:</h1>
<%= render 'users/valid_tickets' %>  
<h1>Eventos Finalizados</h1>
<%= render 'users/old_tickets' %>  

