<h2>Alterar Senha</h2>

<%= simple_form_for @user, :url => password_user_path(current_user), :method => 'put' do |f| %>
	<%= f.input :password %>
	<div class="row">
		<div class="col-xs-12 text-center">
			<%= f.submit "Alterar", class: "btn btn-large btn-primary" %>
			<%= link_to "Voltar", user_path(current_user) + "/#t_tab1", :class => "btn btn-primary" %>						
		</div>
	</div>
<% end %>
