<% session.delete(:wrong_answer) %>
<h3 style="text-align:center;color:red;">Resposta errada</h3>
<div class="row margin-top">
	<div class="col-xs-12 text-center">
		<p>
			É necessário responder corretamente a questão para prosseguir no Quiz.
		</p>
	</div>
</div>
<div class="row margin-top">
	<div class="col-xs-12 text-center">
		<%= link_to "Tentar novamente", quiz_event_path(), :class => "btn btn-large btn-primary" %>
	</div>
</div>