<div class ="row">
  <div class="col-xs-12 text-center">
		<%= image_tag(@event.avatar.url(:original), :style => "height:200px;width:200px;border-style:dotted;border-width:1px;") %>
	</div>
</div>
<div class ="row margin-top">
  <div class="col-xs-12 text-center">
		<%= link_to "Assistir novamente", event_path(@event), :class => "btn btn-black btn-primary" %>
	</div>
</div>
