
<h1>Pick a number Promo</h1>
<h2>The smallest uniq picked number will win!</h2>
<div class="row">
  <div style="width:385px;margin-left:auto;margin-right:auto;">
    <% @numbers.each_slice(10) do |row| %>
      <div >
        <% row.each do |i| %>
          <div style="float:left;width:30px;text-align:center;border-width:1px;border-style:solid;margin:3px;">
            <%= link_to(i, join_promo_event_path(:number => i))  %>
          </div>
        <% end %>
      </div>  
    <% end %>  
    <%= will_paginate @numbers, :inner_window => 0 %>
  </div>
</div>




