<% provide(:title, 'Quiz') %>

<div class="row margin-top">
  <div class="col-md-3">
		<%= render 'quiz_evento' %>
  </div>
  <div class="col-md-9">
<% unless session[:wrong_answer] %>
		<%= render 'quiz_pergunta' %>
<% else %>
	<%= render 'quiz_wrong' %>
<% end %>
	</div>
</div>
