<% provide(:title, 'Resultados') %>

<div style="float:left;width:385px;margin-left:auto;margin-right:auto;">
  <% 
  @bWinner = false
  @numbers.each do |num| %>
    <div class=row>
      <%
 
 @tickets = @event.tickets.find(:all, :joins => :cart, :conditions => ['picked_number = ? and carts.purchased_at is not null', num.to_s])
        
        if @tickets.count > 0 %>
          <b><%= num %> (<%=@tickets.count%>) 
          <% if @tickets.count == 1 && !@bWinner 
            @bWinner = true
            %>  
           WINNER!!!!!
          <% end %>  
            
            </b><br>
      <%

          @tickets.each do |item|
      %>
            <%= item.cart.user_id %> <br>
      <%  end   %>
      <% end %>
      
      
    </div>  
  <% end %>  
</div>