<% @cart.cartitems.each do |item| %>

<fieldset>
  <%= item.picked_number %>
  <%= item.draw.title%>
  <%= link_to 'Remove', item, confirm: 'Are you sure?', method: :delete %></td>
    <br>
  </fieldset>
<% end %>
<%= link_to "Check out", @cart.paypal_url(root_path), :class => "btn btn-large btn-primary" %>

