<div style="float:left;width:385px;margin-left:auto;margin-right:auto;">
  <% 
  @bWinner = false
  @numbers.each do |num| %>
    <div class=row>
      <%
#        conditions = []
 #       conditions << [ "picked_number = ?", num.to_s ]
  #      conditions << [ "carts.purchased_at != ?", ""]
#        @cartitems = @draw.cartitems.find(:all, :joins => :cart, :conditions => { :picked_number => num })
 
 @cartitems = @draw.cartitems.find(:all, :joins => :cart, :conditions => ['picked_number = ? and carts.purchased_at != ?', num.to_s, ""])
        
        if @cartitems.count > 0 %>
          <b><%= num %> (<%=@cartitems.count%>) 
          <% if @cartitems.count == 1 && !@bWinner 
            @bWinner = true
            %>  
           WINNER!!!!!
          <% end %>  
            
            </b><br>
      <%

          @cartitems.each do |item|
      %>
            <%= item.cart.user_id %> <br>
      <%  end   %>
      <% end %>
      
      
    </div>  
  <% end %>  
</div>