// SCAFFOLD LEVEL 1
html {
  overflow-y: scroll;
}

body {
  padding-top: 41px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 170%;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  margin-top:20px;

}

h2 {
  font-size: 140%;
  letter-spacing: -1px;
  margin-top:20px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  a, a:visited, a:hover, a:hover:visited {
    color: #999;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
// END SCAFFOLD LEVEL 1

// SCAFFOLD LEVEL 2 
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: lightgray;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



// header
header {
  letter-spacing:1px;
  
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}




// footer 
footer {
  letter-spacing:1px;
  color:#FFF;
  background-color:#252525;
  padding:45px 0px;
  margin:0;
  border:0;
  vertical-align:baseline;
  display:block;
  background-position:left center;
  margin-left:0px;
  opacity:1;
  
  h3 {
    font-size: 18px;
    color:#fff;
    font-weight: bold;
    line-height:20px;
  }
  
  p {
    margin-top:10px;
    color:#FFF;
  }
  
  ul {
    list-style:none;
    margin:0px;
    li {
      margin-bottom:10px;
    }
    .links-horizontal li{
      float:left;margin-left:20px;
    }
    li:first-child{
      margin-bottom:15px;
      margin-left:0px;
    }
  }

  .row {
    margin-bottom:20px;
  }
  a, a:visited {
    color:#bdbdbd;
  }
}
// END SCAFFOLD LEVEL 1


.fbSignInButton {
	background: url("/assets/facebookButton.png") no-repeat scroll center center transparent;
	width: 195px;
	height: 26px;
	overflow: hidden;
	padding-top:7px;
	padding-left:30px;
	text-align: center;
	text-decoration: none !important;
	text-transform: none;
	color: #FFFFFF;
	display: block;
}
.fbSignInButton:visited {
	color: #FFFFFF;
}

a.fbSignInButton:hover:visited {
  color:yellow;
}  
a.fbSignInButton:hover {
  color:yellow;
}  

.margin-top {
	margin-top:20px;
}



