
// header
header {
  letter-spacing:1px;
  
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

// footer 
footer {
  letter-spacing:1px;
  color:#FFF;
  background-color:#252525;
  padding:45px 0px;
  margin:0;
  border:0;
  vertical-align:baseline;
  display:block;
  background-position:left center;
  margin-left:0px;
  opacity:1;
  
  h3 {
    font-size: 18px;
    color:#fff;
    font-weight: bold;
    line-height:20px;
  }
  
  p {
    margin-top:10px;
    color:#FFF;
  }
  
  ul {
    list-style:none;
    margin:0px;
    li {
      margin-bottom:10px;
    }
    .links-horizontal li{
      float:left;margin-left:20px;
    }
    li:first-child{
      margin-bottom:15px;
      margin-left:0px;
    }
  }

  .row {
    margin-bottom:20px;
  }
  a, a:visited {
    color:#bdbdbd;
  }
}
