// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bullets {
	position:relative;
	left:0px;
	margin-left:0px;

	li {
		float:left;
		margin:0 3px 0 2px;
		width:15px;
		a {
			background:url("/assets/bullets_green_red.png")  no-repeat 0 0;
			background-position:center center;
			display:block;
			height:15px;
			width:17px;
			text-indent:-3000px;
			outline:0
		}
		.green {
		   background-position: 1px 1px;
		}
		.red {
		   background-position: -19px 1px;
		}
	}
}
